<h1>
  Second Projecto
</h1>
<app-databiding></app-databiding>
<app-stylebiding></app-stylebiding>
<br><br>
<app-eventbiding></app-eventbiding>
<br>
<br>
<br>
<article>Two way Databiding</article>
<app-two-away-databiding></app-two-away-databiding>
<br>
<h1>Input Properties</h1>
<br>
<app-output-properties [countMe]="10"
                        (mudarValor)="onEmmit($event)"></app-output-properties>

<app-life-cycle *ngIf="alive" [valorInicial]="lifeCycleValue"></app-life-cycle>
<button mat-raised-button color="primary" (click)="changeValor()">Click me To Increment</button>
<br>
<button mat-raised-button color="warn" (click)="kill()">Click me To kill</button>
<br>