<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ng-content select="[tittle]"></ng-content>
        </mat-panel-title>
      </mat-expansion-panel-header>
          <ng-content select="[body]"></ng-content>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ng-content select=".tittle"></ng-content>
        </mat-panel-title>
      </mat-expansion-panel-header>
          <ng-content select=".body"></ng-content>
    </mat-expansion-panel>
  </mat-accordion>